
<ion-header>

  <ion-navbar>

    <input 
    type="search"
    class=""
    style="font-size:1.2em;border:none"
    placeholder="Rechercher" 
    [(ngModel)]="query"
    autofocus>
  
  </ion-navbar>

</ion-header>


<ion-content padding color="fade">

	<div class="items">

      <div class="flex justify-center"
         style="padding:20px 0"
         *ngIf="!items">

      <ion-spinner name="bubbles" color="dark"></ion-spinner>

    </div>

      <!-- <div class="notice light" *ngIf="query" >
        Les articles que vous aimez s'affichent ici.
      </div> -->


     	<div  *ngFor="let item of items | async">

     	<div class="item flex justify-start" 
     	
     	*ngIf="(item.name.toString().toLowerCase().includes(query.toString().toLowerCase()) && 
             query.length > 1) || 
             (item.description.toString().toLowerCase().includes(query.toString().toLowerCase()) 
             &&
             query.length > 1) ||
             (item.category.toString().toLowerCase().includes(query.toString().toLowerCase()) && 
             query.length > 1)"

     	(click)="openProduct(item)">

          <div 
          class="img cover"
          [ngStyle]="{ 'background-image': 'url(' + item.images[0] + ')'}"
          >

        </div>

        <div class="info flex column justify-between">

          <div class="">
            <div class="name " >
              {{item.name}}
            </div>

            <div class="distance" >
              {{item.distance}}
            </div>
          </div>

          <div class="flex justify-between align-end" style="padding-top:5px;" >

            <div class="price bold" ion-text color="primary" >
              {{item.price}}{{item.currency}}
            </div>

            <!-- <img src="assets/imgs/heart.png" width="20px" height="20px" (click)="unlike(item)"/> -->

          </div>

        </div>

        </div>


     	</div>


     </div>

</ion-content>
